$base-color: #0b0e11;
$base-color-2: #212932;
$secondary-color: #282695;
$scrollHandles: #282695;

//General Stuff

* {
  background-color: $base-color;
}
body {
  font-family: "Rubik", sans-serif;
}
div {
  background-color: $base-color-2;
  border-radius: 10px;
  margin: 5px 5px;
}
#main {
  background-color: $base-color;
}

button,
.button {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: $secondary-color;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
}

p,
h3,
input {
  color: white;
}

//This is for the upload page
#uploadVTT {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  h3,
  a {
    position: relative;
    top: 50%;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  #vttSelectorButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #LoadMenu {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
#languageSelectContainer {
  //place it in the bottom right corner of the parent div
  position: relative;
  top: 90%;
  left: 100%;
  transform: translate(-110%, -300%);
  width: min-content;
  //keep stuff on the same line
  display: flex;
  flex-direction: row;
  > * {
    //center any text vertically
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    background-color: transparent;
    color: white;
  }
}

#subtitleHolder {
  background-color: transparent;
}

//This is for each subtitle block

.SubtitleDiv {
  background-color: $base-color-2;
  padding: 16px;
  padding-top: 5px;
  width: calc(60% - 20px);
  margin: 20px 5px;
  white-space: nowrap;

  box-shadow: 0px -4px 0px $secondary-color;

  h2 {
    color: white;
    background-color: transparent;
    width: fit-content;
  }
  .titleHolder {
    width: 100px;
    float: left;
    background-color: transparent;

    * {
      padding: 0px;
      margin: 0px;
    }
  }
  .controls {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
  }
  textarea {
    width: 100%;
    height: fit-content;
    min-height: 80px;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  .deleteButton {
    position: relative;
    width: 20px;
    height: 20px;
    right: 5px;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
  }
  .addSubtitleBelow {
    padding: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    display: block;
  }
}

//This is for the div that holds all the style related stuff
#styleHolder {
  position: sticky;
  top: 0vh;
  left: 65vw;
  width: calc(100vw - 65vw);
  height: 100vh;
  background-color: $base-color-2;
  padding: 3px;

  overflow: auto;

  h1 {
    background-color: transparent;
    color: white;
    text-align: center;
  }
  #styleButtons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    max-height: 10%;
    padding: 12px;
    overflow: auto;
    .selected {
      background-color: red;
    }
  }
  #styleEditor {
    //center
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    background-color: $base-color;
    overflow: auto;
    padding: 12px;

    select,
    input,
    p {
      color: white;
      background-color: transparent;
      margin: 8px 0;
      border: none;
      font-family: "Rubik", sans-serif;
    }
  }
  .styleButton {
    background-color: $secondary-color; /* Green */
    border: none;
    color: white;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
  }
}
//The download button
#download {
  position: relative;
  top: 10%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $base-color-2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollHandles;
}

//all the toolbar stuff at the top of the page explaining how to use it and all that.
#toolbar {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 50%;
  p {
    background-color: transparent;
  }
  h1 {
    color: white;
  }
  #github {
    color: white;
    background-color: transparent;
    filter: drop-shadow(1px 1px 4px white);
    img {
      background-color: transparent;
    }
  }
}

//This is for the preview part

#preview {
  background-color: $base-color;
  width: 90%;

  //center
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;

  //padding
  padding: 12px;
}
#previewTitle {
  color: white;
  background-color: transparent;
  text-align: center;
}

#previewText {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  text-align: center;
  z-index: 1;
}

//General Stuff
input[type="number"] {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input[type="color"] {
  border: none;
  border-radius: 10px;
}
